html {
    font-size: 62.5%;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    --brand-1: var(--beige);
    --brand-2: var(--white);
    --highlight: #c7a17a;
    --dark-color-text: var(--gray-9);
    --light-color-text: var(--white);

    background-color: var(--brand-1);
    color: var(--dark-color-text);
}
#__next {
    $mobile: 598px;
    $desktop: 1192px;
    display: grid;
    grid-template-columns: var(--size-3) min(140rem, (100% - var(--size-3) * 2)) var(
            --size-3
        );
    justify-content: center;

    // row-gap: clamp(var(--size-8), 5vw, var(--size-9));

    > * {
        grid-column: 2;

        &.span-cols {
            @media screen and (max-width: $mobile) {
                grid-column: 1 / -1;
            }
        }

        &:last-of-type {
            margin-bottom: var(--size-3);

            @media screen and (max-width: $mobile) {
                margin-bottom: 0;
            }
        }
    }
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p,
a,
button,
ul,
ol {
    font-size: var(--font-size-2);
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.headline {
    margin: 0 auto var(--size-7);
    text-align: center;
}

.button {
    --button-bg: var(--black);
    --button-color-text: var(--light-color-text);
    --button-border: var(--black);
    box-shadow: var(--shadow-small);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    color: var(--button-color-text);
    padding: 0.5em 1em;
    border: 0.3rem solid var(--button-border);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
        border 0.3s ease-in-out;
    font-weight: bold;
    min-width: 8.05rem;
    position: relative;

    &:hover,
    &:focus-visible {
        --button-bg: transparent;
        --button-border: var(--black);
        --button-color-text: var(--dark-color-text);
    }

    &.button-secondary {
        --button-bg: var(--highlight);
        --button-border: var(--highlight);
        --button-color-text: var(--light-color-text);

        &:hover,
        &:focus-visible {
            --button-bg: var(--transparent);
            --button-color-text: var(--light-color-text);
        }
    }

    &.button-tertiary {
        --button-border: var(--highlight);

        &:hover,
        &:focus-visible {
            --button-bg: var(--highlight);
            --button-color-text: var(--light-color-text);
        }
    }
}
