@import '../../styles/mixins';
.menu {
    display: grid;
    color: var(--brand-2);
    background-color: var(--black);
    padding: var(--size-8) var(--size-6);
    box-shadow: var(--shadow-3);
    align-items: flex-start;
    align-content: flex-start;

    &:not(.full) {
        margin-bottom: var(--size-10);
    }

    &.full {
        .list {
            justify-items: center;
        }
    }

    .name {
        margin-bottom: var(--size-7);

        @include device-up(mobile) {
            text-align: center;
            justify-self: center;
        }
    }

    .center {
        justify-items: center;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(var(--size-15), 1fr));
        column-gap: var(--size-3);
        row-gap: var(--size-7);

        @include device-down(mobile) {
            grid-template-columns: 100%;
        }

        > li {
            display: grid;
            width: 100%;
            > div {
                display: flex;
                justify-content: space-between;
                gap: var(--size-3);
                color: var(--highlight);
            }
        }

        .ingredients {
            display: flex;
            max-width: calc(100% - 10rem);
            flex-wrap: wrap;
            color: var(--brand-2);
        }
        .ingredient {
            font-size: var(--font-size-0);
        }
        .prices {
            display: flex;
            gap: var(--size-6);
        }
        .price {
            font-size: var(--font-size-4);
            font-weight: var(--font-weight-9);
        }
    }
    li {
        list-style: none;
    }

    .links {
        margin-top: var(--size-10);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-8);

        @include device-down(mobile) {
            flex-direction: column;

            a {
                width: 100%;
            }
        }
    }
}
